<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.besscroft.aurora.mall.admin.mapper.BmsAuthResourceMapper">

    <resultMap id="BmsAuthResourceMap" type="com.besscroft.aurora.mall.common.entity.BmsAuthResource">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, url, description, create_time, category_id
    </sql>

    <select id="selectAll" resultSets="java.util.List" resultMap="BmsAuthResourceMap">
        select <include refid="Base_Column_List"/>
        from bms_auth_resource
    </select>

    <select id="selectResourceListByPage" resultSets="java.util.List" resultMap="BmsAuthResourceMap">
        select <include refid="Base_Column_List"/>
        from  bms_auth_resource
        <if test="keyword != null">
            and name like CONCAT('%',#{keyword},'%')
        </if>
        order by id
    </select>

    <insert id="insertResource">
        insert into bms_auth_resource
        (name, url, description, create_time, category_id)
        values
        (#{name}, #{url}, #{description}, #{createTime}, #{categoryId})
    </insert>

    <update id="updateResource">
        update bms_auth_resource
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>