<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.besscroft.aurora.mall.admin.mapper.BmsAuthUserMapper">

    <resultMap id="BmsAuthUserMap" type="com.besscroft.aurora.mall.common.entity.BmsAuthUser">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="icon" property="icon"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="nick_name" property="nickName"/>
        <result column="note" property="note"/>
        <result column="create_time" property="createTime"/>
        <result column="login_time" property="loginTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="BmsAdminInfoParamMap" type="com.besscroft.aurora.mall.admin.dto.BmsAdminInfoParam">
        <result property="icon" column="icon"/>
        <result property="nickName" column="nick_name"/>
    </resultMap>

    <sql id="selectBmsAuthUserVo">
        select id, username, password, icon, email, phone, nick_name, note, create_time, login_time, status from bms_auth_user
    </sql>

    <select id="selectBmsAuthUserByUsername" parameterType="String" resultMap="BmsAuthUserMap">
        <include refid="selectBmsAuthUserVo"/>
        where username = #{username}
    </select>

    <select id="getInfo" parameterType="Long" resultMap="BmsAdminInfoParamMap">
        select icon, nick_name from bms_auth_user
        where id = #{id}
    </select>

</mapper>