<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.besscroft.aurora.mall.admin.mapper.UpdateLogMapper">

    <resultMap id="updateLogMap" type="com.besscroft.aurora.mall.common.entity.UpdateLog">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="title" property="title"/>
        <result column="title_icon" property="titleIcon"/>
        <result column="title_type" property="titleType"/>
        <result column="title_tag_info" property="titleTagInfo"/>
        <result column="title_tag" property="titleTag"/>
        <result column="title_time" property="titleTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, title, title_icon, title_type, title_tag_info, title_tag, title_time
    </sql>

    <select id="selectAllList" resultSets="java.util.List" resultMap="updateLogMap">
        select <include refid="Base_Column_List"/>
        from  bms_update_log
        order by id desc
    </select>


</mapper>