<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.besscroft.aurora.mall.admin.mapper.AuthResourceSortMapper">

    <resultMap id="authResourceSortMap" type="com.besscroft.aurora.mall.common.entity.AuthResourceSort">
        <result column="id" property="id"/>
        <result column="category_name" property="categoryName"/>
        <result column="create_time" property="createTime"/>
        <result column="description" property="description"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, category_name, create_time, description, sort
    </sql>

    <select id="selectResourceSortListByPage" resultSets="java.util.List" resultMap="authResourceSortMap">
        select
            <include refid="Base_Column_List"/>
        from
            bms_auth_resource_sort
        <where>
            <if test="keyword != null">
                and name like CONCAT('%',#{keyword},'%')
            </if>
        </where>
        order by
            id
    </select>

    <insert id="addResourceSort">
        insert into
        bms_auth_resource_sort
            (category_name, create_time, description, sort)
        values
            (#{categoryName},#{createTime},#{description},#{sort})
    </insert>

    <update id="updateResourceSort">
        update
            bms_auth_resource_sort
        <set>
            <if test="categoryName != null">
                category_name = #{categoryName},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
        </set>
        where
            id = #{id}
    </update>

</mapper>