<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.besscroft.aurora.mall.auth.mapper.BmsAuthResourceMapper">

    <resultMap type="BmsAuthResource" id="BmsAuthResourceResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="categoryId" column="category_id"/>
    </resultMap>

    <sql id="selectBmsAuthResourceVo">
        select id, name, url, description, create_time, category_id from bms_auth_resource
    </sql>

    <select id="selectBmsAuthResourceList" parameterType="BmsAuthResource" resultMap="BmsAuthResourceResult">
        <include refid="selectBmsAuthResourceVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
        </where>
    </select>

    <select id="selectBmsAuthResourceListById" parameterType="Long" resultMap="BmsAuthResourceResult">
        <include refid="selectBmsAuthResourceVo"/>
        where id = #{id}
    </select>

    <select id="selectBmsAuthResourceById" parameterType="Long" resultMap="BmsAuthResourceResult">
        <include refid="selectBmsAuthResourceVo"/>
        where id = #{id}
    </select>

    <insert id="insertBmsAuthResource" parameterType="BmsAuthResource" useGeneratedKeys="true" keyProperty="id">
        insert into bms_auth_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="url != null">url,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="categoryId != null">category_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="url != null">#{url},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="categoryId != null">#{categoryId},</if>
        </trim>
    </insert>

    <update id="updateBmsAuthResource" parameterType="BmsAuthResource">
        update bms_auth_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="url != null">url = #{url},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBmsAuthResourceById" parameterType="Long">
        delete from bms_auth_resource where id = #{id}
    </delete>

    <delete id="deleteBmsAuthResourceByIds" parameterType="String">
        delete from bms_auth_resource where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>